nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    padding: 30px;
    margin: 10px;
    background-color: rgb(179, 234, 255);
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.212);
}

nav p {
    margin: 0;
    /* padding: 0; */
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: solid;
    font-size: 24px;
    font-weight: bold;
}

nav a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

div {
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    padding-top: 0;
    text-align: justify;
}

footer {
    border-top: 2px solid #00000059;
    margin: 20px;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
}


table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}